*{
margin: 15px;

}

:root {
    --primary: #630e8a;
    --secondary:#d441c8;

}

.timer {
float: right;

}

.highscores {

    float: left;

}

.wrapper{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    
}



.container{
   width: 52%;
   height: 100%;
}

.container h1{
    text-align: center;
    font-size:4em;

}

.container p {
    font-size: 1.5em;
    text-align: center;
    
}

#start{
    margin: 0 auto;
    background-color:var(--primary);
    color: white;
    border-radius: 12px;
    font-size: 22px;
    width: 22%;
    padding: 14px;

}

#start:hover {
background-color: var(--secondary);
cursor: pointer;
}

li button {
    margin: 0 auto;
    background-color: var(--primary);
    color: white;
    border-radius: 12px;
    font-size: 25px;
    width: 45%;
    padding: 11px;
}

li button:hover {
    background-color: var(--secondary);
    cursor: pointer;
    }